/************************
** Variables
************************/

$font-stack:Helvetica, arial, sans-serif;
 $baby-blue:rgb(114, 167, 191);
 $yellow-mustard:rgb(191, 179, 114);
 $flat-green:rgb(120, 191, 114);
 $mellow-orange:rgb(191, 156, 114);
 $primary-color:#333;
 $pink:rgb(191, 114, 161);
 $green:rgb(114, 191, 152);
 $brown:rgb(191, 149, 114);
 $blue:rgb(114, 191, 187);
 $debug:1;

/************************
** Generic Classes
************************/

* {
    @if $debug==1 {
        border: 1px solid red;
    }
}
body {
    font: 100% $font-stack;
    background: white;
    height: 100%;
    height: 100vh;
    opacity: .6;
    margin: 0px auto;
    padding: 0px auto;
}
main {
    height: 100%;
    margin: 0px auto;
    padding: 0px auto;
}
ul {
    list-style-type: none;
}
.logo {
    height: 2em;
}
.tagline {
    height: 1em;
    display: inline-block;
}
/************************
** Navigation
************************/

ul.nav {
    position: absolute;
    top: 0;
    left: 0;
    li {
        float: left;
    }
}
header {
    text-align: center;
    position: relative;
    height: 2em;
    padding: 2em 0 80px;
    background-color: $blue;
    text-align: center;
}
/************************
** Question Card
************************/

form {
    border-radius: 3px;
    width: 100%;
    background: #fff;
    border-top: 6px solid #62c2f3;
}
.hide {
    display: none;
}
.answer .question {
    text-align: center;
}
.answer-container {
    margin: 0 auto;
    padding: 0 30%;
    padding-top: 1em;
}
.question {
    text-align: center;
    font-size: 2em;
}
ul.choices {
    li {
        font-size: 1em;
        float: left;
    }
}
.controls {
    display: flex;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    a {
        color: black;
        position: relative;
        border-style: none;
        display: inline-block;
        vertical-align: top;
        padding: 8px 14px 10px;
        font-weight: 300;
        text-decoration: none;
        min-height: 100%;
        width: 100%;
        float: left;
    }
}
